@model IEnumerable<MyRezaNabhani.DomainClasses.AboutMe.AboutMe>
<!-- Home Subpage -->
<section class="pt-page" data-id="home">
    <div class="section-inner start-page-content">
        <div class="page-header">
            <div class="row">



                <div class="col-sm-4 col-md-4 col-lg-4">
                    <div class="photo">
                        @foreach (var item in Model)
                        {
                            <img src="~/AboutImages/@item.Avatar" alt="">
                        }
                    </div>
                </div>

                <div class="col-sm-8 col-md-8 col-lg-8">
                    <div class="title-block">
                        <h1>رضا نبهانی </h1>
                        <div class="owl-carousel text-rotation">
                            <div class="item">
                                <div class="sp-subtitle">Fullstack Developer</div>
                            </div>
                            <div class="item">
                                <div class="sp-subtitle">فول استک دولوپر</div>
                            </div>
                        </div>
                    </div>


                    <div class="social-links">
                        <a href="#"><i class="fa fa-telegram"></i></a>
                        <a href="https://www.instagram.com/rezanabhani200/"><i class="fa fa-instagram"></i></a>
                        <a href="#"><i class="fa fa-facebook"></i></a>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </div>
                </div>
            </div>
        </div>

        <div class="page-content">
            <div class="row">

                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    <div class="about-me">
                        <div class="block-title">
                            <h3>درباره <span>من</span></h3>
                        </div>
                        @foreach (var item in Model)
                        {


                            <p>@item.Description</p>
                        }
                    </div>
                    <div class="download-resume">
                        <a href="" class="btn btn-secondary">دریافت رزومه</a>
                    </div>
                </div>



                <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                    @foreach (var item in Model)
                    {
                        <ul class="info-list">
                            <li><span class="title">سن</span> <span class="value">@item.Age</span></li>
                            <li><span class="title">محل سکونت</span> <span class="value">@item.Address</span></li>
                            <li><span class="title">آدرس</span> <span class="value">خیابان نیایش، جنب پاساژ اطلس</span></li>
                            <li><span class="title">ایمیل</span> <span class="value ltr_text"><a href="mailto:email@example.com">@item.Email</a></span></li>
                            <li><span class="title">تلفن</span> <span class="value ltr_text">@item.Phone</span></li>
                            <li><span class="title">وضعیت</span> <span class="value available">@item.Status</span></li>
                        </ul>
                    }
                </div>

            </div>
        </div>
    </div>
</section>
<!-- End of Home Subpage -->

